# /etc/crontab: system-wide crontab

SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
PATH_TO_SCRIPT=/
USER=cdr-memex
PASSWORD=s7Zhd71r3VD8ojRj

# m h dom mon dow user	command
00 0    1 * *   root    $PATH_TO_SCRIPT/monthly_index $USER $PASSWORD
#
